<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nikolai Chaourov - Online Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><br>DSITI CodeJam 2016</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{1}}</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/cloud.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Education</h5>

            <p class="light"> International baccalaureate Diploma: Queensland Academy for Science, Mathematics and Technology (Graduated Nov2013)<br></p>
	    <p class="light"> Bachelor of Science (Computer Science)/ Commerce (Finance): University of Queensland (2014 - Current; Graduating June 2018)<br></p>
            <p class="light"> Machine Learning: Stanford Online, CS229, Completed September 20, 2016 </p>
	  </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">code</i></h2>
            <h5 class="center">Skills</h5>

            
	    <p class="light"><i class="material-icons">done</i> ASP.NET </p>
	    <p class="light"><i class="material-icons">done</i> Python </p>
	    <p class="light"><i class="material-icons">done</i> SQL </p>
	    <p class="light"><i class="material-icons">done</i> Unix Based Systems </p>
	    <p class="light"><i class="material-icons">done</i> Full Stack Web Development</p>
	    <p class="light"><i class="material-icons">done</i> Machine Learning </p>
	    <br>
	    <h5 class = "center"> In Progress </h5>
	    <p class="light"> Data Analysis and Visualization (pythonprogramming.net)</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Work Experience</h5>

            <p class="light">Supervisor at Ironside Community After School Activities Group (ICASAG): December 2014 - October 2016</p>
	    <p class="light">ASP.NET developer at Department of Science, IT and Innovation (DSITI): October 2016 - Present </p>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="/static/parallax-template/background1.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Other Links</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/NikChao">Github</a></li>
            <li><a class="white-text" href="https://au.linkdin.com/in/nikolai-chaourov-aba082122">LinkdIn</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Details</h5>
          <ul>
	    <li><p class="white-text">Email: nik.chaourov@gmail.com</p></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/parallax-template/js/materialize.js"></script>
  <script src="/static/parallax-template/js/init.js"></script>

  </body>
</html>
