<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nikolai Chaourov - Online Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><br>Nikolai Chaourov</h1>
        <div class="row center">
          <h5 class="header col s12 light">Online Portfolio</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/parallax-template/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Education</h5>

            <p class="light"> International Bachalaureatte Diploma: Queensland Academy for Science, Mathematics and Technology (Graduated Nov2013)<br></p>
	    <p class="light"> Bachelor of Science (Computer Science)/ Commerce (Finance): University of Queensland (2014 - Current; Graduating June 2018)
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">code</i></h2>
            <h5 class="center">Skills</h5>

            <p class="light"><i class="material-icons">done</i> Python </p>
	    <p class="light"><i class="material-icons">done</i> Unix Based Systems </p>
	    <p class="light"><i class="material-icons">done</i> Full Stack Web Development </p>
	    <br>
	    <h5 class = "center"> In Progress </h5>
	    <p class="light"> Data Analysis and Visualization </p>
	    <p class="light"> Machine learning </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Work Experience</h5>

            <p class="light">Supervisor at Ironside Community After School Activities Group (ICASAG)</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Computer Science/Finance Student</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/parallax-template/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Me</h4>
          <p class="left-align light"> I'm a computer science and finance student at the University of Queensland. In my own time I enjoy playing around with python, linux and taking various online courses (Currently taking CS229: Machine Learning). I am also an intermediate level web developer with practice developing and deploying websites witht the flask python framework. If you are interested in what I offer or would just like to have a chat, contact me wit the details to the below!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Made with Flask and Materialize</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/parallax-template/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Other Links</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/NikChao">Github</a></li>
            <li><a class="white-text" href="https://au.linkdin.com/in/nikolai-chaourov-aba082122">LinkdIn</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Details</h5>
          <ul>
	    <li><p class="white-text">Email: nik.chaourov@gmail.com</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/parallax-template/js/materialize.js"></script>
  <script src="/static/parallax-template/js/init.js"></script>

  </body>
</html>
