<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nikolai Chaourov - Online Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


{% block body %}
<body>


  <center>
  <h1> Vital Connections </h1>
  <h2> Rostering </h2>
  </center>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
	<li class="tab col s3"><a href="#Saturday">Saturday</a></li>
	<li class="tab col s3"><a href="#Sunday">Sunday  </a></li>
	<li class="tab col s3"><a href="#Monday">Monday  </a></li>
      </ul>
    </div>
    
    <div id="Saturday" class="col s12">
      <div class="col s12">
        <ul class="tabs">
	  <li class="tab col s3"><a href="#Afternoon">Afternoon</a></li>
	  <li class="tab col s3"><a href="#Evening">Evening</a></li>
	</ul>
      </div>
      <div id="Afternoon" class="col s12">
	<h5> Saturday Afternoon </h5>
	<table class="highlight">
	  <thead>
	    <tr>
	      <th data-field="id"> First Name </th>
	      <th data-field="id"> Last Name </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in DAYS['Saturday'][0] %}
	      <tr>
		<td> {{ item[0] }} </td>
		<td> {{ item[1] }} </td>

	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <div id="Evening" class="col s12">
	<h5> Saturday Evening </h5>
	
	<table class="highlight"><thead><tr><th data-field="id"> Name </th></tr></thead>
	<tbody>
	{% for item in DAYS['Saturday'][1] %}
	  <tr>
	    <td> {{ item[0] }} </td>
	    <td> {{ item[1] }} </td>
	  </tr>
	{% endfor %}
	</tbody>
	</table>

      </div>
    </div>

    <div id="Sunday" class="col s12">
      <div class="col s12">
        <ul class="tabs">
	  <li class="tab col s3"><a href="#SunAfternoon">Afternoon</a></li>
	  <li class="tab col s3"><a href="#SunEvening">Evening</a></li>
	</ul>
      </div>
      <div id="SunAfternoon" class="col s12">
	<h5> Sunday Afternoon </h5>	
	<table class="highlight"><thead><tr><th data-field="id"> Name </th></tr></thead>
	<tbody>
	{% for item in DAYS['Sunday'][0] %}
	  <tr>
	    <td> {{ item[0] }} </td>
	    <td> {{ item[1] }} </td>
	  </tr>
	{% endfor %}
	</tbody>
	</table>

      </div>
      <div id="SunEvening" class="col s12">
	<h5> Sunday Evening </h5>
	
	<table class="highlight"><thead><tr><th data-field="id"> Name </th></tr></thead>
	<tbody>
	{% for item in DAYS['Sunday'][1] %}
	  <tr>
	    <td> {{ item[0] }} </td>
	    <td> {{ item[1] }} </td>
	  </tr>
	{% endfor %}
	</tbody>
	</table>

      </div>
    </div>

    <div id="Monday" class="col s12">
      <div class="col s12">
        <ul class="tabs">
	  <li class="tab col s3"><a href="#MonAfternoon">Afternoon</a></li>
	  <li class="tab col s3"><a href="#MonEvening">Evening</a></li>
	</ul>
      </div>
      <div id="MonAfternoon" class="col s12">
	<h5> Monday Afternoon </h5>
	
	<table class="highlight"><thead><tr><th data-field="id"> Name </th></tr></thead>
	<tbody>
	{% for item in DAYS['Monday'][0] %}
	  <tr>
	    <td> {{ item[0] }} </td>
	    <td> {{ item[1] }} </td>
	  </tr>
	{% endfor %}
	</tbody>
	</table>

      </div>
      <div id="MonEvening" class="col s12">
	<h5> Monday Evening </h5>
	
	<table class="highlight"><thead><tr><th data-field="id"> Name </th></tr></thead>
	<tbody>
	{% for item in DAYS['Monday'][1] %}
	  <tr>
	    <td> {{ item[0] }} </td>
	    <td> {{ item[1] }} </td>
	  </tr>
	{% endfor %}
	</tbody>
	</table>




      </div>
    </div>


  </div>

  <br><br><br><br><br><br><br>


  <center><h5> Apply for shift </h5></center>
  <div class="row">
    <form action="" method="POST" class="col s12">
      <div class="row">
	<div class="input-field col s6">
	  <input id="first_name" name="first_name" type="text" class="validate">
	  <label for="first_name">First Name</label>
	</div>
	<div class="input-field col s6">
	  <input id="last_name" name="last_name" type="text" class="validate">
	  <label for="last_name">Last Name</label>
	</div>
	<div class="input-field col s4">
	  <input id="telephone" name="telephone" type="text" class="validate">
	  <label for="telephone">Telephone</label>
	</div>
  	<div class="input-field col s4">
	  <select name="day">
	    <option value="" disabled selected>Choose Day</option>
	    <option value="Saturday"> Saturday </option>
	    <option value="Sunday"> Sunday </option>
	    <option value="Monday"> Monday </option>
	  </select>
	</div>
	<div class="input-field col s4">
	  <select multiple id="multisession" name="multisession">
	    <option value="" disabled selected>Choose Session(s)</option>
	    <option value="0">Afternoon</option>
	    <option value="1">Evening</option>
	  </select>
	</div>
	<div class="input-field col s4">
	<button class="btn waves-effect waves-light" type="submit" value="Send" name="action">Submit
	  <i class="material-icons right">send</i>
	</button>
	</div>
      </div>
    </form>
  </div>  

{% endblock %}

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/parallax-template/js/materialize.js"></script>
  <script src="/static/parallax-template/js/init.js"></script>
  <script>$(document).ready(function() {
	$('select').material_select();
  });</script>
  </body>
</html>
